/** Sidebar Variables **/
/** aSidebar (admin Sidebar) Variables **/
/** Panel-Click Variables **/
/** COLORS **/
.panel-purple > .panel-heading {
  background-color: #8b1898; }

.panel-purple:hover > .panel-heading {
  background-color: #ce37df; }

.panel-orange > .panel-heading {
  background-color: #ff5722; }

.panel-orange:hover > .panel-heading {
  background-color: #ffa588; }

.panel-teal > .panel-heading {
  background-color: #438496; }

.panel-teal:hover > .panel-heading {
  background-color: #7bb4c4; }

.panel-light-blue > .panel-heading {
  background-color: #03a9f4; }

.panel-light-blue:hover > .panel-heading {
  background-color: #60ccfd; }

.panel-dark-blue > .panel-heading {
  background-color: #151b3f; }

.panel-dark-blue:hover > .panel-heading {
  background-color: #2f3c8c; }

.panel-light-green > .panel-heading {
  background-color: #4caf50; }

.panel-light-green:hover > .panel-heading {
  background-color: #92cf94; }

body {
  overflow-x: hidden; }

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background: #000;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 200px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -200px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #FFF;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #FFF;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 200px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

.navbar {
  z-index: 9999;
  position: fixed !important;
  width: 100% !important; }

.modal-dialog {
  margin: 80px auto !important; }

#page-content-wrapper {
  padding-top: 80px; }

.alert {
  border: 0 none;
  border-radius: 10px !important;
  bottom: 0 !important;
  position: fixed !important;
  right: 20px !important;
  width: 300px !important;
  z-index: 9 !important; }

.liquid-form-group {
  padding-left: 10px; }

.popover, .tooltip-inner {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0 !important; }

.popover-title {
  background-color: #636363 !important; }

.clickable > tbody > tr {
  cursor: pointer;
  cursor: hand; }

.xl-font {
  font-size: 5em; }

#asidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 50px;
  height: 100%;
  background: #333;
  transition: all 0.5s ease; }

#wrapper.toggled #asidebar-wrapper {
  width: 50px; }

.asidebar-nav:hover, .asidebar-nav.expanded {
  width: 250px;
  overflow: visible; }

.asidebar-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50px;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1001; }

.asidebar-nav li {
  text-indent: 6px;
  line-height: 50px;
  position: relative;
  display: block;
  width: 250px;
  background-color: #333; }

.asidebar-nav li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  transition: all .1s linear; }

.asidebar-nav li a:hover {
  text-decoration: none;
  color: #FFF; }

.asidebar-nav li a:active,
.asidebar-nav li a:focus {
  text-decoration: none; }

.asidebar-nav li a i {
  display: table-cell;
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  vertical-align: middle;
  width: 50px;
  height: 36px;
  position: relative;
  padding: 10px 0 10px 7px; }

.asidebar-nav .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 200px; }

.asidebar-nav li:nth-child(1) a:hover {
  background-color: rgba(187, 27, 46, 0.5); }

.asidebar-nav li:nth-child(2) a:hover {
  background-color: rgba(187, 56, 27, 0.5); }

.asidebar-nav li:nth-child(3) a:hover {
  background-color: rgba(141, 39, 176, 0.5); }

.asidebar-nav li:nth-child(4) a:hover {
  background-color: rgba(50, 39, 176, 0.5); }

.asidebar-nav li:nth-child(5) a:hover {
  background-color: rgba(39, 130, 176, 0.5); }

.asidebar-nav li:nth-child(6) a:hover {
  background-color: rgba(39, 150, 74, 0.5); }

.asidebar-nav li:nth-child(7) a:hover {
  background-color: rgba(255, 159, 64, 0.5); }

.asidebar-nav li:nth-child(8) a:hover {
  background-color: rgba(153, 102, 255, 0.5); }

.asidebar-nav li:nth-child(9) a:hover {
  background-color: rgba(187, 56, 27, 0.5); }

.asidebar-nav li:nth-child(10) a:hover {
  background-color: rgba(75, 192, 192, 0.5); }

.complete {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 100px; }

/*# sourceMappingURL=app.css.map */
