/** Sidebar Variables **/
$sidebarWidth: 200px;
$sidebarButtonBgColor: #999999;
$sidebarButtonTextColor: #999999;
$sidebarButtonBgHoverColor: rgba(255,255,255,0.2);
$sidebarButtonTextHoverColor: #FFF;
$sidebarTextDecoration: none;

/** aSidebar (admin Sidebar) Variables **/
$aSidebarWidth: 50px;
$aSidebarButtonTextColor: #FFF;
$aSidebarButtonTextHoverColor: #FFF;
$aSidebarTextDecoration: none;
$aSidebarButtonBgHoverColors: (1: rgba(187, 27, 46, 0.5), 2: rgba(187, 56, 27, 0.5), 3: rgba(141, 39, 176, 0.5), 4: rgba(50, 39, 176, 0.5),
  5: rgba(39, 130, 176, 0.5), 6: rgba(39, 150, 74, 0.5), 7: rgba(255, 159, 64, 0.5), 8: rgba(153, 102, 255, 0.5), 9: rgba(187, 56, 27, 0.5), 10: rgba(75, 192, 192, 0.5));

/** Panel-Click Variables **/
$panel-lighten: 20%;


/** COLORS **/
$orange: #ff5722;
$teal: #438496;
$light-blue: #03a9f4;
$dark-blue: #151b3f;
$light-green: #4caf50;
$purple: #8b1898;



